# trigger:
#  - master

pool:
  vmImage: ubuntu-latest
variables:
- group: Semgrep

steps: 

- script: |
    python -m pip install --upgrade pip
    pip install semgrep
    semgrep ci
  env: 
    SEMGREP_PR_ID: $(System.PullRequest.PullRequestNumber)
    SEMGREP_APP_TOKEN: $(SEMGREP_APP_TOKEN)